<?xml version="1.0" encoding="UTF-8"?>
<Propertys>
    <property>
        <APP_MODE>pc</APP_MODE>
        <HTTP_MODE>false</HTTP_MODE>
        <SERVER_ADDRESS>http://10.31.36.143:18082</SERVER_ADDRESS>
        <VISITOR_ADDRESS>http://10.31.36.143:10020</VISITOR_ADDRESS>
        <SHARE_CARD_ADDRESS>http://cd.snowball.io:5502/share/v1/contact/</SHARE_CARD_ADDRESS>
        <SHARE_PAY_ADDRESS>http://cd.snowball.io:5502/share/v1/pay</SHARE_PAY_ADDRESS>
        <SERVER_PUBKEY>03d307e51af08983cc0c13bb11d3619758e7b0b8a374e610de3503fc4ebeedfe96</SERVER_PUBKEY>
        <CRASH_APPID>cf78e82d4f</CRASH_APPID>
        <CRASH_TAGS>40295</CRASH_TAGS>
    </property>

    <property>
        <APP_MODE>test</APP_MODE>
        <HTTP_MODE>false</HTTP_MODE>
        <SERVER_ADDRESS>http://192.168.40.4:10086</SERVER_ADDRESS>
        <VISITOR_ADDRESS>http://192.168.40.4:10040</VISITOR_ADDRESS>
        <WAREHOUSE_ADDRESS>http://192.168.40.4:10050</WAREHOUSE_ADDRESS>
        <SHARE_CARD_ADDRESS>http://cd.snowball.io:5502/share/v1/contact/</SHARE_CARD_ADDRESS>
        <SHARE_PAY_ADDRESS>http://cd.snowball.io:5502/share/v1/pay</SHARE_PAY_ADDRESS>
        <SERVER_PUBKEY>03d307e51af08983cc0c13bb11d3619758e7b0b8a374e610de3503fc4ebeedfe96</SERVER_PUBKEY>
        <CRASH_APPID>cf78e82d4f</CRASH_APPID>
        <CRASH_TAGS>40295</CRASH_TAGS>
    </property>

    <property>
        <APP_MODE>sandbox</APP_MODE>
        <HTTP_MODE>false</HTTP_MODE>
        <SERVER_ADDRESS>https://sandbox.connect.im</SERVER_ADDRESS>
        <VISITOR_ADDRESS>http://10.31.36.143:10020</VISITOR_ADDRESS>
        <SHARE_CARD_ADDRESS>http://cd.snowball.io:5502/share/v1/contact/</SHARE_CARD_ADDRESS>
        <SHARE_PAY_ADDRESS>http://cd.snowball.io:5502/share/v1/pay</SHARE_PAY_ADDRESS>
        <SERVER_PUBKEY>02c2c7398274aef3b94366369f51c6a75470f3636981c2e75e6fd7b39caede1ca9
        </SERVER_PUBKEY>
        <CRASH_APPID>cf78e82d4f</CRASH_APPID>
        <CRASH_TAGS>40295</CRASH_TAGS>
    </property>

    <property>
        <APP_MODE>release</APP_MODE>
        <HTTP_MODE>true</HTTP_MODE>
        <SERVER_ADDRESS>https://short-bm.connect.im</SERVER_ADDRESS>
        <VISITOR_ADDRESS>https://wx-kq.bitmain.com</VISITOR_ADDRESS>
        <WAREHOUSE_ADDRESS>https://wx-kq.bitmain.com</WAREHOUSE_ADDRESS>
        <SHARE_CARD_ADDRESS>https://me.connect.im/share/v1/contact/</SHARE_CARD_ADDRESS>
        <SHARE_PAY_ADDRESS>https://transfer.connect.im/share/v1/pay</SHARE_PAY_ADDRESS>
        <SERVER_PUBKEY>038bf4f74a5aaad532179c9714e2fa6ac8342b5b2c608572e4a12e8708401e0632
        </SERVER_PUBKEY>
        <CRASH_APPID>9b63c64ee1</CRASH_APPID>
        <CRASH_TAGS>40297</CRASH_TAGS>
    </property>

</Propertys>