<?xml version="1.0" encoding="UTF-8"?>
<Propertys>
    <property>
        <APP_MODE>sandbox</APP_MODE>
        <HTTP_MODE>false</HTTP_MODE>
        <SERVER_ADDRESS>https://sandbox.connect.im</SERVER_ADDRESS>
        <SOCKET_ADDRESS>sandbox.connect.im</SOCKET_ADDRESS>
        <SOCKET_PORT>19090</SOCKET_PORT>
        <SHARE_CARD_ADDRESS>http://cd.snowball.io:5502/share/v1/contact/</SHARE_CARD_ADDRESS>
        <SHARE_PAY_ADDRESS>http://cd.snowball.io:5502/share/v1/pay</SHARE_PAY_ADDRESS>
        <SERVER_PUBKEY>02c2c7398274aef3b94366369f51c6a75470f3636981c2e75e6fd7b39caede1ca9
        </SERVER_PUBKEY>
        <CRASH_TAGS>40295</CRASH_TAGS>
    </property>
</Propertys>