<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="connect.ui.activity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application
        android:name="connect.activity.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/connect_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="connect.activity.login.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomebg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="friend"
                    android:scheme="connectim"/>
                <data
                    android:host="pay"
                    android:scheme="connectim"/>
                <data
                    android:host="transfer"
                    android:scheme="connectim"/>
                <data
                    android:host="packet"
                    android:scheme="connectim"/>
                <data
                    android:host="group"
                    android:scheme="connectim"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="connect.utils.glide.GlideModelConfig"
            android:value="GlideModule"/>

        <activity
            android:name="connect.activity.login.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.LoginForPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.CountryCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.SignInVerifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.LocalLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.ScanLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.CodeLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.LoginPatterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.LoginSeleUserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.widget.camera.CameraTakeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.widget.takepicture.TakePictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.widget.takepicture.PreviewPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.ExportPriActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.RandomSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.login.KeepLiveActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/LiveActivityStyle"/>
        <activity
            android:name="connect.widget.clip.ClipImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.AddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.SafetyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.PrivateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.GeneralActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.SupportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.ModifyInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.LinkMobileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.LinkChangePhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.LinkChangeVerifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.ModifyNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.ModifyPassActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.PayFeeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.PatternActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.PatterDrawActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.ModifyAvaterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.BackUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.BlackListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.CurrencyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.DeveloperActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.set.LanguageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.ScanTransferActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.RequestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.PacketActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransactionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.BlockchainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.PacketSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.PacketHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.PacketDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferOutViaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferOutViaHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferAddressBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.ScanAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.wallet.TransferFriendDelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.widget.random.RandomVoiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.NewFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.SearchServerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.ScanAddFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.StrangerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.FriendInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.FriendSetAliasActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.FriendAcceptActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.FriendAddPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.RecommendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.contact.FriendRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.set.SingleSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.set.GroupSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.set.GroupMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.exts.GatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.exts.TransferToActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.exts.GatherDetailSingleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.exts.GatherDetailGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.common.selefriend.SeleUsersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.exts.RedPacketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.activity.chat.set.ContactCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="connect.widget.imagewatcher.ImageViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="connect.activity.chat.exts.VideoPlayerActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="connect.broadcast.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.notification"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="connect.broadcast.NetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name="connect.service.HttpsService"/>
        <service
            android:name="connect.service.SocketService"
            android:exported="true"/>
        <service android:name="connect.service.UpdataService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name="connect.activity.chat.exts.TransferDetailActivity"/>
        <activity android:name="connect.activity.chat.set.GroupNameActivity">
        </activity>
        <activity android:name="connect.activity.chat.set.GroupMyNameActivity">
        </activity>
        <activity android:name="connect.activity.chat.set.GroupManageActivity">
        </activity>
        <activity android:name="connect.activity.chat.set.GroupQRActivity">
        </activity>
        <activity android:name="connect.activity.chat.set.GroupIntroduceActivity">
        </activity>
        <activity android:name="connect.activity.chat.set.GroupOwnerToActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.HandleJoinGroupActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.GroupGatherRecordsActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.ApplyJoinGroupActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.OuterWebsiteActivity">
        </activity>
        <activity android:name="connect.activity.common.selefriend.ConversationActivity">
        </activity>
        <activity android:name="connect.activity.common.selefriend.NewConversationActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.GroupAtActivity">
        </activity>
        <activity android:name="connect.activity.chat.exts.GoogleMapActivity">
        </activity>
        <activity android:name="connect.widget.album.ui.activity.PhotoAlbumActivity">
        </activity>
        <activity android:name="connect.activity.home.DBUpdateActivity">
        </activity>

        <service
            android:name="connect.service.PushService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.connect.push"/>
            </intent-filter>
        </service>

        <activity android:name="connect.activity.wallet.CAddressListActivty">
        </activity>
        <activity android:name="connect.activity.wallet.BackUpCurrencyActivity">
        </activity>
        <activity
            android:name="connect.activity.chat.set.GroupCreateActivity"
            android:label="@string/title_activity_group_create">
        </activity>
        <activity
            android:name="connect.activity.chat.set.GroupInviteActivity"
            android:label="@string/title_activity_group_invite">
        </activity>
    </application>

</manifest>