<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="connect.ui.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name="connect.activity.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/connect_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="connect.activity.login.StartPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomebg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="friend"
                    android:scheme="connectim" />
                <data
                    android:host="pay"
                    android:scheme="connectim" />
                <data
                    android:host="transfer"
                    android:scheme="connectim" />
                <data
                    android:host="packet"
                    android:scheme="connectim" />
                <data
                    android:host="group"
                    android:scheme="connectim" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="connect.utils.glide.GlideModelConfig"
            android:value="GlideModule" />

        <activity
            android:name="connect.activity.login.GuidePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.LoginPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.LoginPhoneCountryCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.LoginPhoneVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.workbench.VisitorsAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.workbench.WarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.workbench.WarehouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.LoginPassVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.camera.CameraTakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.takepicture.TakePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.DepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.ContactInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.RegisterGetRandomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.login.LoginUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.clip.ClipImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.UserConnectIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.workbench.VisitorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SafetyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.PrivateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.GeneralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SafetyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SafetyNewPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.UserInfoNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SafetyLoginPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.UserInfoAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.SupportFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.AboutDeveloperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.GeneralLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.set.UserInfoConnectIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.random.RandomVoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.SearchFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.SearchFriendResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.ScanAddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.AddFriendPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.AddFriendRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.contact.FriendInfoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.SearchContentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.set.PrivateSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.set.GroupSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.set.GroupMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.set.ContactCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.widget.imagewatcher.ImageViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.exts.VideoPlayerActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="connect.broadcast.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.notification" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="instant.ui.broadcast.NetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="connect.service.UpdateInfoService" />
        <service android:name="connect.service.UpdateAppService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="connect.activity.chat.set.GroupNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.set.GroupMyNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.exts.OuterWebsiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.selefriend.SelectRecentlyChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.selefriend.SelectContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.selefriend.SelectFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="connect.activity.chat.exts.GroupAtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.exts.GoogleMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.widget.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.home.DBUpdateActivity"
            android:screenOrientation="portrait" />
        <service
            android:name="connect.service.GroupService"
            android:exported="false" />

        <activity
            android:name="connect.activity.chat.set.GroupDepartSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.set.GroupCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.chat.set.BaseGroupSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="connect.activity.workbench.WorkSeachActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>